@model WaffleOffer.Models.Trade
@{
    ViewBag.Title = "Trade";
}

<script type="text/javascript">
    function moveItem(id)
    {
        //have to convert the model values because mixing javascript and razor gets weird
        var submitted = "@Model.Submitted" == "True";
        var accepted = "@Model.Accepted" == "True";
        var canceled = "@Model.Canceled" == "True";
        var rejected = "@Model.Rejected" == "True";
        var isSender = "@User.Identity.Name" == "@Model.SendingTrader.UserName";
        //if not a new trade, the submitter may not make changes
        //if trade is already accepted, rejected, or canceled, nobody can make changes
        if(submitted && isSender || accepted || rejected || canceled){
            return;
        }
        //find specified element
        var item = document.getElementById(id);
        //find source column id
        var srcColId = item.parentElement.getAttribute("id");
        //set destination column
        var destColId;

        switch (srcColId)
        {
            case "SenderHaves":
                destColId = "SenderOffers";
                break;
            case "SenderOffers":
                destColId = "SenderHaves";
                break;
            case "ReceiverHaves":
                destColId = "ReceiverOffers";
                break;
            case "ReceiverOffers":
                destColId = "ReceiverHaves";
                break;
        }
        //append element to destination column
        document.getElementById(destColId).appendChild(item);
    }

    function submitTrade()
    {
        //get list of items in the offered column
        //get list of items in the requested column
        //add inputs to form with value of item ids
        addItems("SenderOffers");
        addItems("ReceiverOffers");
        //submit form
        document.getElementById("submitTrade").submit();
    }

    function updateTrade(status)
    {
        //add hidden input to form with status code
        //generate a hidden input element
        var n = document.createElement("INPUT");
        n.setAttribute('type', 'hidden');
        //assign name
        n.setAttribute('name', 'Status');

        n.setAttribute('value', status);
        //append to submission form
        document.getElementById('updateTrade').appendChild(n);
        //submit form
        document.getElementById("updateTrade").submit();
    }


    function addItems(column)
    {
        //get the column element
        var col = document.getElementById(column);
        //get all items in it
        var items = col.childNodes;
        //for each item:
        for (var i = 0; i < items.length; i++)
        {
            if (items[i].nodeType == 1) {
                //assign value
                var item = items[i];
                var itemId = item.getAttribute('id');


                //generate a hidden input element
                var n = document.createElement("INPUT");
                n.setAttribute('type', 'hidden');
                //assign name
                n.setAttribute('name', 'Items');

                n.setAttribute('value', itemId);
                //append to submission form
                document.getElementById('submitTrade').appendChild(n);
            }
        }
    }
</script>

<h4 class="dark-heading divider-new">Trade</h4>

<table class="table">
    <tr>
        @*
        <th>Sender: @Html.DisplayFor(model => model.SendingTrader.UserName)</th>
        <th>Offered by Sender</th>
        <th>Offered by Receiver</th>
        <th>Receiver: @Html.DisplayFor(model => model.ReceivingTrader.UserName)</th>
        *@
        <th>@Html.DisplayFor(model => model.SendingTrader.UserName)</th>
        <th>@Html.DisplayFor(model => model.SendingTrader.UserName)'s Offer</th>
        <th>@Html.DisplayFor(model => model.ReceivingTrader.UserName)'s Offer</th>
        <th>@Html.DisplayFor(model => model.ReceivingTrader.UserName)</th>
    </tr>
    <tr>
        <td>           
            <ul id="SenderHaves">
                @foreach (var item in Model.SenderHaves)
                {
                    <li id="@item.ItemID">
                        <input type="button" class="btn btn-custom-grey btn-sender" onclick="moveItem(@item.ItemID)" value="@item.Name" />
                    </li>
                }
            </ul>
        </td>

        <td>
            <ul id="SenderOffers">
                @foreach (var item in Model.SendingItems)
                {
                    <li id="@item.ItemID">
                        <input type="button" class="btn btn-custom-grey btn-sender" onclick="moveItem(@item.ItemID)" value="@item.Name" />
                    </li>
                }
            </ul>
        </td>
        <td>
            <ul id="ReceiverOffers">
                @foreach (var item in Model.ReceivingItems)
                {
                    <li id="@item.ItemID">
                        <input type="button" class="btn btn-custom-grey btn-receiver" onclick="moveItem(@item.ItemID)" value="@item.Name" />
                    </li>
                }
            </ul>
        </td>
        <td>
            <ul id="ReceiverHaves">
                @foreach (var item in Model.ReceiverHaves)
                {
                    <li id="@item.ItemID">
                        <input type="button" class="btn btn-custom-grey btn-receiver" onclick="moveItem(@item.ItemID)" value="@item.Name" />
                    </li>
                }
            </ul>
        </td>
    </tr>
</table>

@if (!Model.Submitted || (!Model.Canceled && !Model.Rejected && !Model.Accepted 
    && Model.SendingTrader.UserName != User.Identity.Name))
{
    <button class="btn btn-block btn-custom-submit" onclick="submitTrade()">Submit Trade</button>
}
@if (Model.Submitted && (!Model.Canceled && !Model.Rejected && !Model.Accepted
                && Model.SendingTrader.UserName != User.Identity.Name))
{
    <button class="btn btn-block btn-custom-submit" onclick="updateTrade('Accept')">Accept Trade</button>
    <button class="btn btn-block btn-custom-submit" onclick="updateTrade('Reject')">Reject Trade</button>
}
@if (User.Identity.Name == Model.SendingTrader.UserName && Model.Submitted && !Model.Canceled 
    || (Model.Accepted && !Model.SenderConfirmed && !Model.ReceiverConfirmed))
{
    <button class="btn btn-block btn-custom-submit" onclick="updateTrade('Cancel')">Cancel Trade</button>
}
@if (Model.Accepted && ((User.Identity.Name == Model.SendingTrader.UserName && !Model.SenderConfirmed)
                || (User.Identity.Name == Model.ReceivingTrader.UserName && !Model.ReceiverConfirmed)))
{
    <button class="btn btn-block btn-custom-submit" onclick="updateTrade('Confirm')">Confirm Trade</button>
}
@if (Model.SenderConfirmed && Model.ReceiverConfirmed && ((User.Identity.Name == Model.SendingTrader.UserName && Model.SenderRating == 0)
                            || (User.Identity.Name == Model.ReceivingTrader.UserName && Model.ReceiverRating == 0)))
{
    @: Rate Trade: 
    <button class="btn btn-block btn-custom-submit" onclick="updateTrade('1')">Poor</button>
    <button class="btn btn-block btn-custom-submit" onclick="updateTrade('2')">Fair</button>
    <button class="btn btn-block btn-custom-submit" onclick="updateTrade('3')">Good</button>
    <button class="btn btn-block btn-custom-submit" onclick="updateTrade('4')">Great</button>
    <button class="btn btn-block btn-custom-submit" onclick="updateTrade('5')">Perfect</button>
}


@if (!Model.Submitted)
{
    <a href="@Url.Action("Index", "Items")">Back to List</a>
}
else
{
    <a href="@Url.Action("List", "Trade")">Back to List</a>
}

@using (Html.BeginForm("Create", "Trade", FormMethod.Post, new { id = "submitTrade" }))
{
    <input type="hidden" name="TradeId" value="@Model.TradeId"/>
    <input type="hidden" name="SenderId" value="@Model.SendingTrader.Id" />
    <input type="hidden" name="ReceiverId" value="@Model.ReceivingTrader.Id" />
}

@using (Html.BeginForm("Update", "Trade", FormMethod.Post, new { id = "updateTrade" }))
{
    <input type="hidden" name="TradeId" value="@Model.TradeId" />
}

