@model WaffleOffer.Models.Trade

<table class="table">
    <tr>
        <th>@Model.SendingTrader.UserName</th>
        <th>
            @Model.GetTradeStatusMessage(User.Identity.Name == Model.SendingTrader.UserName)
        </th>

        <th>@Model.ReceivingTrader.UserName</th>
        <th></th>
    </tr>
    <tr>
        <td>
            <ul>
                @foreach (var item in Model.SendingItems)
                {
                    <li>@item.Quantity x @item.Name</li>
                }
            </ul>
        </td>
        <td>
            <i class="material-icons animated slideInLeft">arrow_forward</i>
            <br />
            <i class="material-icons animated slideInRight">arrow_back</i>
        </td>
        <td>
            <ul>
                @foreach (var item in Model.ReceivingItems)
                {
                    <li>@item.Quantity x @item.Name</li>
                }
            </ul>
        </td>
        <td>
            @Html.ActionLink("View Trade", "Index", "Trade", new { partner = Model.ReceivingTrader.UserName, tradeId = Model.TradeId }, new { @class = "btn btn-sm btn-sender btn-custom-grey" })
        </td>
    </tr>
</table>