@model WaffleOffer.Models.Item

@{
    ViewBag.Title = "Item Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4 class="dark-heading">Item Details</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quality)
        </dd>

        @if (Model.Images.Any(i => i.ItemID == Model.ItemID))
        {
            <dt>
                Image
            </dt>
            <dd>
                <div class="col-md-6">
                    <!--Image Card-->
                    <div class="card hoverable">
                        <div class="card-image">
                            <div class="view overlay hm-white-slight z-depth-1">
                                <img src="~/ItemImages?id=@Model.Images.First(i => i.ItemID == Model.ItemID).ImageID" class="img-responsive" alt="image" />
                            </div>
                        </div>
                    </div>
                    <!--Image Card-->
                </div>

                
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Back to Items", "Index", null, new { @class = "btn btn-sm btn-custom-grey" })
    @if (User.IsInRole("Admin") || User.Identity.Name == Model.ListingUser)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }, new { @class="btn btn-sm btn-custom-grey" })
    }
    else{
        @Html.ActionLink("Open Trade", "Index", "Trade", new { partner=Model.ListingUser}, new { @class="btn btn-sm btn-custom-grey" })
        @Html.ActionLink("Report Item", "Report", "Messages", new { type="Item",id=Model.ItemID }, new { @class = "btn btn-sm btn-custom-grey" })
    }
</p>
