@model IEnumerable<WaffleOffer.Models.Item>

@{
    ViewBag.Title = "All Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="dark-heading">All Items</h4>
@*<h2>Items Index</h2>*@

<p>
    @* Action link to add an item. Does not work from this view; needs to go through profile. *@
    @*@Html.ActionLink("Add Item", "Create", "", new { @class="btn btn-sm btn-custom-grey" })*@
    @*@Html.ActionLink("Create New", "Create")*@


    @using (Html.BeginForm())
    {
        <div class="col-md-8">
            <div class="form-group">
                @*Item Name: @Html.TextBox("searchStg") <input type="submit" value="Search" />*@
                @*<input type="reset" value="Clear" />*@
                <div class="input-field">
                    <span>
                        <i class="material-icons prefix">search</i>
                        @Html.TextBox("searchStg", null, new { @class = "validate" }) in
                        @*@Html.DropDownListFor(m => m.ListingType.ToString(), SelectList, new { @class = "form-control" })*@
                        @Html.DropDownList("itemType", "All")
                        @*@Html.DropDownList("itemType", null, new { @class = "form-control btn btn-sm" })*@ @* NOTE: Works, but does not have an "All" option and the pulldown is too wide *@
                        @*@Html.DropDownList("itemType", null, new { @class = "form-control" })*@
                         @*@Html.DropDownListFor(t => t.ListingType.ToString(), (SelectList)ViewBag.itemType, "All", new { @class = "form-control btn btn-sm" })*@
                        @*</span>

                @Html.DropDownList("itemType", "All", new { @class = "form-control" })
            <span>*@
                    </span>
                    <input type="submit" value="Search" class="btn btn-never-wide btn-custom-submit" />
                </div>
            </div>
        </div>
    }
</p>

    @Html.Partial("ItemList", Model) <!-- Links to a partial view that holds the items table -->