@model WaffleOffer.Models.ItemList
@{
    ViewBag.Title = "Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="dark-heading">@ViewBag.TypeHeading</h4>

<div class="col-xs-12 col-sm-5 col-md-3 col-lg-2">
    <a href="@Url.Action("Create", "Items", new { type = Model.Type.ToString() })">
        <div class="card custom-card-shorter-grey hoverable">
            <h5 class="custom-card-shorter-heading"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add a @Model.Type.ToString()</h5>
        </div>
    </a>
</div>

<table class="table table-hover">
    <tr>
        <th>
            @Html.ActionLink("Item Name", "Index", new { sortOdr = ViewBag.NameSort }) <span class="caret"></span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemModel.Description)
        </th>
        <th>
            @Html.ActionLink("Quality", "Index", new { sortOdr = ViewBag.QualitySort })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemModel.Units)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemModel.Quantity)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-custom-grey dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View", "Details", "Items", new { id = item.ItemID }, null)</li>
                        @if (User.IsInRole("Admin") || User.Identity.Name == item.ListingUser)
                        {
                            <li>@Html.ActionLink("Edit", "Edit", "Items", new { id = item.ItemID }, null)</li>
                            <li>@Html.ActionLink("Delete", "Delete", "Items", new { id = item.ItemID }, null)</li>
                        }
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Back to Profile", "Index", "Profile", new { userName = @ViewBag.ListingUser }, new { @class="btn btn-sm btn-custom-grey" })
</div>



