@model IEnumerable<WaffleOffer.Models.MessageViewModel>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Inbox";
}

<h4 class="dark-heading">Inbox</h4>
<p>
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-custom-grey dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Go <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Sent Messages", "Sent")</li>
            <li>@Html.ActionLink("My Profile", "Index", "Profile")</li>
        </ul>
    </div>
</p>

<ul class="collection">
@foreach (var item in Model)
{
    <li class="collection-item avatar">
        <i class="material-icons">account_circle</i>
        <p>
            <span class="msg-label">From:</span> @Html.DisplayFor(modelItem => item.SenderItem.UserName) <br />
            <span class="msg-label">Subject:</span> @Html.DisplayFor(modelItem => item.Subject) <br />
            <span class="msg-label">Sent:</span> @Html.DisplayFor(modelItem => item.DateSent)
        </p>
        <div class="secondary-content">
            @Html.ActionLink("mail_outline", "View", new { id = item.MessageID }, new { @class = "material-icons icon-link-light", @title="Open"})
            &nbsp;
            @Html.ActionLink("delete_forever", "Delete", new { id = item.MessageID }, new { @class = "material-icons icon-link-light icon-warning", @title="Delete"})
        </div>
    </li>
}
</ul>