@model IEnumerable<WaffleOffer.Models.MessageViewModel>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>

<p>
    @Html.ActionLink("View Sent Messages", "Sent")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.SenderItem.UserName)*@
            From
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DateSent)*@
            Sent
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SenderItem.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateSent)
        </td>
        <td>
            @Html.ActionLink("Open", "View", new { id=item.MessageID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageID })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Return to Profile", "Index", "Profile")
</p>
