@model WaffleOffer.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}
<h4 class="dark-heading">&nbsp;</h4>
<div class="top-space">
    <div class="row">
        <div class="col-md-4">
            <figure>
                <!-- profile img or placeholder avatar goes here-->
                <img src="../Images/wo-temp-avatar-1.png" class="profile-pic" />
                <!-- commented out until I can fix the garbage-looking alignment -->
                <!--<figcaption class="profile-caption">-->@*@Html.DisplayFor(model => model.Nickname)*@ <!--</figcaption>-->
            </figure>
            @*Authorized viewers only*@
            @if (User.Identity.Name == Model.Nickname || User.IsInRole("Admin"))
            {
                 <p>
                    @Html.ActionLink("Edit Profile", "Edit", new { userName = Model.Nickname }, new {@class="btn btn-sm btn-custom-grey" })
                </p>
            }
        </div>
        <div class="col-md-8">
            <h5>About @Html.DisplayFor(model => model.Nickname)</h5>
            <p>
                @Html.DisplayFor(model => model.ProfileText)
                Lorem ipsum whateverum until there is some profile text or some placeholder
                something or other. Whatever. Lorem. Ipsum. Etcetera. Rosa rosae rosae rosam 
                rosa (with a flat little hat) rosa.
            </p>
            <p>
                <strong>@Html.DisplayNameFor(model => model.ZipCode):</strong> @Html.DisplayFor(model => model.ZipCode)
            </p>
            @*Authorized viewers only*@
            @if (User.Identity.Name == Model.Nickname || User.IsInRole("Admin"))
            {
                <p>
                    <strong>@Html.DisplayNameFor(model => model.RealName):</strong> @Html.DisplayFor(model => model.RealName)
                </p>
                <p>
                    <strong>@Html.DisplayNameFor(model => model.Email):</strong> @Html.DisplayFor(model => model.Email)
                </p>
            }
        </div>
    </div>
    <div class="row">

    </div>
    <!-- 
        Restrict these boxes to guests and visiting traders only.
        Add a dashboard for the logged-in user 
    -->
    <div class="row">
        <div class="col-md-6">
            <ul class="collection with-header">
                <li class="collection-header list-header"><h5>Haves</h5></li>
                <li class="collection-item">Thing 1</li>
                <li class="collection-item">Thing 2</li>
                <li class="collection-item">Thing 3</li>
                <li class="collection-item">Thing 4</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="collection with-header">
                <li class="collection-header list-header"><h5>Wants</h5></li>
                <li class="collection-item">Thing 1</li>
                <li class="collection-item">Thing 2</li>
                <li class="collection-item">Thing 3</li>
                <li class="collection-item">Thing 4</li>
            </ul>
        </div>
    </div>
</div>
